:root {
  --heroBG: #e3e6f3;
  --green: #088178;
  --black: #1a1a1a;
  --pinkBox1: #fddde4;
  --erieBlack: #c9c8da;
  --greenBox2: #cdebbc;
  --match3: #b3aac0;
  --blueSky: #96faff;
  --lightGreen: #b1ffaa;
  --heroDark: #7b5269;
  --titleWidth: 0;
  --menuBarsHeaderWidth: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html {
  scroll-behavior: "smooth";
}
::-webkit-scrollbar {
  display: none;
}
/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* Header section*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: var(--heroBG);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.navContainer {
  display: flex;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li {
  padding: 0 25px;
  position: relative;
}
.navbar li a {
  font-size: 22px;
  font-weight: 500;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a.active {
  color: var(--green);
}

.navbar li a:hover,
.navContainer .cart:hover {
  font-size: 25px;
}
.navbar li a::after {
  /* This means something after this link */
  content: "";
  width: 0%;
  height: 2px;
  background: var(--green);
  /* Is absolute to its first relative parent */
  position: absolute;
  bottom: -4px;
  left: 26px;
  transition: 0.4s linear;
}
.navbar li a:hover::after {
  content: "";
  width: 70%;
}

.navContainer .cart {
  font-size: 22px;
  font-weight: 500;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.cart:hover {
  color: var(--green);
}
/*Header section media query>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media screen and (max-width: 480px) {
  .header {
    padding: 0;
    position: relative;
    width: 100vw;
  }
  .logo {
    margin: 25px 0 25px 30px;
  }
  .navContainer {
    display: flex;
    align-items: center;
    margin: 25px 30px 25px 0;
  }
  .navOverlay {
    width: 65%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 100px;
    padding-left: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  .navOverlay li {
    margin-bottom: 15px;
  }
  .navOverlay li a {
    font-size: 25px;
  }
  .navOverlay--show {
    opacity: 1;
    pointer-events: unset;
  }
  .barsContainer {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
  }
  .barsContainer .bars {
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--green);
    transition: all 0.5s linear;
  }
  .barsAfter,
  .barsBefore {
    width: 40px;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    background-color: var(--black);
    transition: all 0.5s ease;
  }
  .barsAfter {
    bottom: 7.5px;
  }
  .barsBefore {
    top: 7.5px;
  }
  .bars-active {
    transform: translateX(-100%);
    opacity: 0;
  }
  .barsBefore-active {
    width: 35px;
    top: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    transform-origin: right bottom;
    transform: rotate(35deg) translate(1px, 0px);
    background-color: var(--green);
  }
  .barsAfter-active {
    width: 35px;
    top: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    transform-origin: right top;
    transform: rotate(-35deg) translate(0px, 0px);
  }
  .navContainer .cart {
    opacity: 1;
    font-size: 1.5rem;
    padding-right: 20px;
  }
}

/* Section 1 hero */

.hero {
  background-image: url("./img/hero4.webp");
  height: 95vh;
  width: 100%;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #e3e6f3;
}
.hero h2 {
  font-size: 5.2rem;
  margin: 15px 0;
  font-weight: 600;
}
.hero h1 {
  font-size: 5rem;
  font-weight: 600;
  color: var(--green);
}
.hero h4 {
  font-size: 2rem;
  margin-bottom: 0.2em;
  font-weight: 500;
}
.hero p {
  font-size: 1.5rem;
  margin-top: 0.8em;
  margin-bottom: 2.5em;
}
.hero .shopNow {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--green);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top 25% right 0;
  background-image: url("./img/button.webp");
  cursor: pointer;
  width: 15rem;
  height: 60px;
  position: absolute;
  bottom: 31%;
  left: 5rem;
  margin-top: 0.5em;
  transition: all 0.3s ease;
}

.shopNow:hover {
  cursor: pointer;
  font-weight: 600;
  filter: brightness(1.001);
  font-size: 1.4rem;
}
.hero p span .mobile {
  display: none;
}
/* Section 1 hero media query ->->->->->-> */
@media screen and (max-width: 480px) {
  .hero {
    height: 95vh;
    width: 100%;
    background-position: -62% 0;
    justify-content: flex-start;
    padding: 40px 30px;
  }
  .hero h4 {
    font-size: 1.5rem;
    margin: 0;
  }
  .hero h2 {
    font-size: 3.5rem;
  }
  .hero h1 {
    font-size: 4rem;
  }
  .hero p {
    font-size: 1.3rem;
  }
  .hero p span {
    color: red;
    font-weight: 500;
  }
  .hero p span .mobile {
    display: block;
    float: left;
  }
  .hero .shopNow {
    top: 50px;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}

/* Feature section */

.feature {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.feature::-webkit-scrollbar {
  display: none;
}
.feBoxContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.fe-box {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 40px 70px;
  background-color: #fff;
}

.fe-box .text {
  margin-left: 5px;
}
.fe-box .text h6 {
  width: max-content;
  font-size: 1.25rem;
  margin: 25px 0 0 0;
  padding: 7px 10px;
  border-radius: 7px;
  color: var(--green);
  background-color: var(--pinkBox1);
}
.fe-box .text p {
  font-size: 1.2rem;
  color: #465b52;
}
#box2 .text h6 {
  background-color: var(--greenBox2);
}
#box3 .text h6 {
  background-color: #d1e8f2;
}
#box4 .text h6 {
  background-color: #cdd4f8;
}
#box5 .text h6 {
  background-color: #f6dbf6;
}
#box6 .text h6 {
  background-color: #fff2e5;
}

/* Features Section MediaQuery ->->->->-> */
@media screen and (max-width: 480px) {
  .feature {
    height: 250px;
  }
  .fe-box .text p {
    display: none;
  }
  .fe-box {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }
  .fe-box .text {
    margin-bottom: 20px;
  }
}
/* Featured Products*/
.feaProducts {
  width: 100%;
  display: grid;
  height: max-content;
  grid-template-rows: 1fr 3fr;
  padding: 0 80px;
}
.feaProducts .titleOfSec {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.titleOfSec {
  height: max-content;
  position: relative;
  transition: all 0.3s linear;
}
.titleOfSec h2 {
  font-size: 4.5rem;
  font-weight: 550;
  word-spacing: 1rem;
  letter-spacing: 0.1rem;
}
.titleOfSec p {
  font-size: 1.3rem;
  font-weight: 400;
}
.titleFea::after {
  content: "";
  width: var(--titleWidth);
  height: 3px;
  background-color: #088178;
  transition: width 1s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.titleNew::after {
  content: "";
  width: var(--titleWidth);
  height: 3px;
  background-color: #088178;
  transition: width 1s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.feaProducts .productsContainer {
  width: 100%;
  height: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2rem;
}

.product {
  width: max-content;
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 19px -5px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.product img {
  width: 300px;
  height: auto;
  border-radius: 20px;
}
.info {
  display: flex;
  flex-direction: column;
}
.info .stars {
  display: flex;
  flex-direction: row;
  color: gold;
}
.info p {
  margin: 10px 0;
  font-size: 1rem;
}
.info h4 {
  margin-bottom: 5px;
  font-size: 1.4rem;
}
.info .priceInfo {
  font-size: 1.35rem;
  font-weight: 700;
  color: #088178;
  position: relative;
}
.shopCart {
  position: absolute;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: #e0ffff;
  height: 55px;
  right: 20px;
  bottom: 15px;
  border-radius: 50%;
}
.shopCart i {
  font-size: 1.5rem;
  color: #088178;
  transition: all 0.3s ease;
}
.shopCart:hover > i {
  transform: rotate(-30deg);
}
.product:hover {
  box-shadow: 3px 3px 19px -5px rgba(0, 0, 0, 0.5);
  transform: scale(1.005);
}
/* Featured Products media query ->->->->*/

@media screen and (max-width: 480px) {
  .feaProducts {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .titleOfSec h2 {
    font-size: 2.4rem;
  }
  .titleOfSec p {
    font-size: 1rem;
  }
  .feaProducts .productsContainer {
    grid-template-columns: 1fr;
  }
}

/*Explore More*/
.exploreMore {
  width: 100%;
  height: 325px;
  margin: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./img/banner/b2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.exploreMore .textExp {
  text-align: center;
}

.textExp h2 {
  font-weight: 600;
  font-size: 3.5rem;
  color: white;
  margin-bottom: 25px;
}
.textExp h2 span {
  color: red;
}
.textExp h4 {
  color: white;
  font-weight: 450;
  margin-bottom: 25px;
  font-size: 2rem;
}
.exploreMore .expMoreBtn {
  border: none;
  background-color: white;
  font-size: 1.3rem;
  padding: 0.75em 1.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.expMoreBtn:hover {
  background-color: var(--green);
  color: white;
}
/* Explore More  media query ->->->->*/

@media screen and (max-width: 480px) {
  .exploreMore h4 {
    font-size: 1.4rem;
  }
  .exploreMore h2 {
    font-size: 2.75rem;
  }
  .exploreMore .expMoreBtn {
    font-size: 1rem;
  }
}

/*Banner Section*/
.banner {
  width: 100vw;
  padding: 5rem 80px;
  display: grid;
  grid-template-rows: 70% 30%;
  height: max-content;
}
.firstContainerBanner {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  justify-items: center;
}
.secondContainerBanner {
  display: flex;
  height: max-content;
  justify-content: space-around;
}
.bannerContainer {
  width: 800px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.bannerContainer .textBan {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25em;
}
.textBan h5 {
  color: white;
  font-weight: 200;
  font-size: 1.75rem;
  margin-bottom: 0.5em;
}
.textBan h3 {
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 0.3em;
}
.textBan p {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 1.25rem;
}

.bannerContainer .bannerBtn {
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;
  padding: 0.6em 1.25em;
  font-weight: 500;
  background-color: transparent;
  transition: all 0.35s linear;
  border-radius: 4px;
  cursor: pointer;
}
.bannerContainer:hover > .bannerBtn {
  background-color: var(--green);
  border: 1px solid var(--green);
}

.secondContainerBanner > .bannerContainer {
  width: 500px;
  height: 250px;
}
.secondContainerBanner > .bannerContainer > .textBan {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.secondContainerBanner > .bannerContainer > .textBan > h5 {
  font-weight: 500;
  font-size: 1.5rem;
}
/* Banner Section media query ->->->->*/

@media screen and (max-width: 480px) {
  .banner {
    padding: 2rem 15px;
    display: flex;
    flex-direction: column;
  }
  .banner .firstContainerBanner {
    display: flex;
    width: 92vw;
    flex-direction: column;
  }
  .firstContainerBanner .bannerContainer {
    width: 100%;
  }
  .banner .secondContainerBanner {
    display: flex;
    flex-direction: column;
    width: 92vw;
  }
  .secondContainerBanner .bannerContainer {
    width: 100%;
  }
  .bannerContainer {
    margin-bottom: 20px;
  }
}

/*Sing Up Section*/

.singUpSec {
  width: 100%;
  height: 200px;
  background-color: #041e42;
  background-image: url(./img/banner/b14.webp);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  object-fit: cover;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 115px;
}

.singUpSec .textSignUp {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.textSignUp h4 {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 10px;
}
.textSignUp p {
  margin: 15px 0 0 0;
  font-size: 1.5rem;
}
.textSignUp p span {
  color: gold;
}
.signUpForm {
  width: 550px;
  height: 100%;
  display: flex;
  align-items: center;
}
.signUpForm .emailLabel #email {
  font-size: 1.2rem;
  width: 450px;
  padding: 10px;
  height: 50px;
  border: none;
  border-radius: 5px 0 0 5px;
}
#email:focus {
  outline: none;
}
.signUpForm .signUpbtn {
  width: 100%;
  height: 50px;
  border-radius: 0 5px 5px 0;
  font-size: 1.1em;
  cursor: pointer;
  color: white;
  font-weight: 500;
  border: none;
  background-color: var(--green);
}
/* Sign Up Media Query */
@media screen and (max-width: 480px) {
  .singUpSec {
    padding: 30px 30px;
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .singUpSec .textSignUp {
    margin-bottom: 20px;
  }
  .singUpSec .textSignUp h4 {
    font-size: 2rem;
  }
  .singUpSec .textSignUp p {
    font-size: 1.2rem;
  }
  .signUpForm {
    width: 100%;
    margin: 0;
  }
  .signUpForm .emailLabel #email {
    width: 250px;
    padding: 10px;
  }
}

/*Footer Container*/
.footerCont {
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  padding: 100px 100px;
}
.footerCont .footerInfo {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
}
.footerInfo .contactSec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footerInfo h5 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
}
.contactSec p {
  margin: 0;
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 7.5px;
}
.contactSec .contact p:last-child {
  margin-bottom: 0;
}
.contactSec .contact span {
  font-weight: 500;
  color: black;
}
.contactSec .footerLogo {
  margin: 0 0 30px 0;
}
.contactSec .contact {
  width: 100%;
}

.followUs {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  height: max-content;
}
.followUs h5 {
  margin-top: 15px;
}
.followUs .logoCont {
  margin: 10px 10px 10px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logoCont a {
  font-size: 1.5rem;
  color: black;
  margin: 0 20px 0 0;
}
.followUs .facebook:hover {
  color: #3b5998;
}
.followUs .twitter:hover {
  color: #00acee;
}
.followUs .instagram:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.followUs .pintrest:hover {
  color: #c8232c;
}
.followUs .youtube:hover {
  color: #ff0000;
}

.aboutUsSec p {
  margin: 0;
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.myAccountSec p {
  margin: 0;
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.installSec p {
  margin: 0;
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 15px;
}
.installSec .apple,
.playstore {
  border: none;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid var(--green);
  margin-bottom: 15px;
  cursor: pointer;
}
.installSec button img {
  border-radius: 15px;
}
.apple {
  margin-right: 10px;
}

/* Footer MEdia query */
@media screen and (max-width: 480px) {
  .footerCont {
    padding: 70px 30px 30px 30px;
    display: flex;
    flex-direction: column;
  }
  .footerCont .footerInfo {
    display: flex;
    flex-direction: column;
  }
  .footer {
    font-size: 3rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footerInfo .aboutUsSec {
    margin-top: 20px;
  }
  .footerInfo .myAccountSec {
    margin-top: 20px;
  }
  .footerInfo .installSec {
    margin-top: 20px;
  }
}
